<div class="card border-success">
    <img class="card-img-top" [src]="'data:image/jpg;base64,' + activity.image" />
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">{{activity.name}}</h5>
            <p class="card-text fs-5">₹{{activity.charges}}</p>
            <p class="card-text">{{activity.description}}</p>
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-success w-100 btn-sm" *ngIf="!isEdit && !isShow" (click)="book(activity)">Book</button>
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-info" *ngIf="isEdit && !isShow" data-bs-toggle="modal"
                    attr.data-bs-target="#exampleModel{{activity.id}}">Edit</button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-danger" *ngIf="isEdit && !isShow"
                    (click)=" deleteActivity(activity)">Delete</button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="exampleModel{{activity.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="alert alert-success" *ngIf="success">{{msg}}</div>
                <div class="alert alert-danger" *ngIf="error">{{msg}}</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-floating">
                            <input type="text" name="name" id="name" class="form-control"
                                placeholder="Enter Activity Name" required [(ngModel)]="activity.name">
                            <label for="name">Enter Activity Name</label>
                        </div>

                        <div class="mt-2">
                            <textarea type="text" name="description" id="description" class="form-control" rows="3"
                                placeholder="Enter Activity Description" [(ngModel)]="activity.description" required>
                            </textarea>
                        </div>

                        <div class="input-group mt-2">
                            <span class="input-group-text">₹</span>
                            <input type="number" class="form-control" aria-label="Charges For Activity"
                                [(ngModel)]="activity.charges" required>
                            <span class="input-group-text">.00</span>
                        </div>

                        <div class="mt-2">
                            <input type="file" name="file" id="file" class="form-control" (change)="setFile($event)"
                                placeholder="Upload Activity Image" accept="image/jpg" required />
                        </div>

                        <div>
                            <button class="btn btn-success w-100 mt-2" (click)="edit(activity)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>