<div>
    <app-nav></app-nav>
</div>

<br>
<br>
<br>
<div class="text-center" style="font-size:x-large;">
    <h1 class="text-danger"><strong>
      CAPG PARK - The Largest Amusement Park In India
    </strong>
    <br>
    </h1>
    <h2>Step into a world of magic, where joy springs to life!</h2>
    <br>
    <h4>
        We are so much more than an amusement park - a world where everyone comes together and enjoys the little moments.<br>
        A life of fun is what everyone deserves, so come on down to the Wonderla closest to you!
    </h4>
</div>
<br>
<br>
<br>
<br>
<div class="card">
    <h2 class="card-header text-white text-center bg-primary" style="font-size:x-large;">Opening Hours</h2>
    <div class="card-body">
      <h3 class="card-title text-center" style="font-size:20px;">Get ready to be mindblown by the crazy rides that await</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-white bg-success text-center" style="font-size:20px;">Monday-Friday      10:00 AM to 6:00 PM</li>
        <br>
        <li class="list-group-item text-white bg-warning text-center" style="font-size:20px;">Saturday        10:00 AM to 7:00 PM</li>
        <br>
        <li class="list-group-item text-white bg-danger text-center" style="font-size:20px;">Sunday            09:00 AM to 5:00 PM</li>
        <br>
      </ul>
  </div>
  <br>
  <br>
  <br>
  <div class="card-deck">
    <div class="card border-danger">
      <img class="card-img-top" src="assets/location1.jpg" alt="Card image cap">
      <div class="card-body text-white bg-danger">
        <h5 class="card-title">Location : Bangalore</h5>
        <h5 class="card-text">Email : blrsupport@email.com</h5>
        <h5 class="card-text">Ph no : +91 9456152369</h5>
      </div>
    </div>
    <div class="card border-warning">
      <img class="card-img-top" src="assets/location2.jpg" alt="Card image cap">
      <div class="card-body text-dark bg-warning">
        <h5 class="card-title">Location : Cochin</h5>
        <h5 class="card-text">Email : blrsupport@email.com</h5>
        <h5 class="card-text">Ph no : +91 9456152370</h5>
      </div>
    </div>
    <div class="card border-success">
      <img class="card-img-top" src="assets/location3.jpg" alt="Card image cap">
      <div class="card-body text-white bg-success">
        <h5 class="card-title">Location : Hyderabad</h5>
        <h5 class="card-text">Email : aphsupport@email.com</h5>
        <h5 class="card-text">Ph no : +91 9456152371</h5>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  
 <!-- footer -->
 <footer  style="background-color: #D0EAE6;">
  <div class="container">
      <div class="row ">
          <div class="col-md-6 text-center text-md-left ">
              
              <div class="py-0">
                  <h3 class="my-4 text-dark">About<span class="mx-2 font-italic text-success "><b>Capg Park</b></span></h3>
                  <p class="text-danger my-2" ><b>The Largest Amusement Park In India</b></p>
                  <p class="footer-links font-weight-bold">
                      <button class="btn btn-primary btn-lg"><a class="text-light" href="/customer/home">Home</a></button>
                  </p>
                  <p class="text-dark py-4 mb-4">&copy;<b>2022 Capg Batch 2 Group 1</b></p>
              </div>
          </div>
          
          <div class="col-md-6 text-dark my-4 text-center text-md-left ">
              <div class="py-2">
                  <h3>Project Done by</h3>
                  <h5>1.Ankur Parasar <br>
                  2.AKASH TIWARI <br>
                  3.Kayalvizhi R <br>
                  4.Chethan B R <br>
                  5.Vinay C <br>
                  6.Priyusha</h5>
              </div>
          </div>
      </div>  
  </div>
</footer>
