<app-nav [admin]="true"></app-nav>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-1">Welcome Admin</h1>
        </div>
    </div>

    <!-- Home page Image -->
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 order-1 pt-5 text-center justify-center colspan" style= "background-color: #D0EAE6;">
        <br><br><br>
        <h1 class="display-4">Welcome to <br><span>Capg Amusement Park</span></h1>
        <br>
        <h4 class="my-lg-2 my-3">Up, Down, Fabulus thrills all around! <br><br> Get ready to be mindblown by the crazy rides that await</h4>

        <br>
    </div>
    <div class="col-lg-6 col-md-6 col-12 py-lg-0 py-3 order-sm-2">
        <img src="https://img.freepik.com/premium-vector/amusement-park-group-games-scenic_24908-69282.jpg?w=2000"
            class="img-fluid">
    </div>
</div>
</div>

<br><br>
<footer  style="background-color: #D0EAE6;">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 text-center text-md-left ">
                
                <div class="py-0">
                    <h3 class="my-4 text-dark">About<span class="mx-2 font-italic text-success "><b>Capg Park</b></span></h3>
                    <p class="text-danger my-2" ><b>The Largest Amusement Park In India</b></p>
                    <p class="footer-links font-weight-bold">
                        <button class="btn btn-primary btn-lg"><a class="text-light" href="/admin/home">Home</a></button>
                    </p>
                    <p class="text-dark py-4 mb-4">&copy;<b>2022 Capg Batch 2 Group 1</b></p>
                </div>
            </div>
            
            <div class="col-md-6 text-dark my-4 text-center text-md-left ">
                <div class="py-2">
                    <h3>Project Done by</h3>
                    <h5>1.Ankur Parasar <br>
                    2.AKASH TIWARI <br>
                    3.Kayalvizhi R <br>
                    4.Chethan B R <br>
                    5.Vinay C <br>
                    6.Priyusha</h5>
                </div>
            </div>
        </div>  
    </div>
 </footer>